<p>
    <button class="btn btn-outline-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample"
            aria-expanded="false" aria-controls="collapseWidthExample">
        Statistics
    </button>
</p>
<div style="min-height: 10px;">
    <div class="collapse collapse-vertical" id="collapseWidthExample">
        <div class="card card-body" style="width: 1000px;">

            <h6>

                <p class="fw-bold">
                    Total by Tables: &nbsp;
                    {% for item in info_about_all_group_count_line_1_header %}
                        {{ item.group_name }}:{{ item.count }} &nbsp;&nbsp;
                    {% endfor %}
                </p>

                <p class="fw-bold">
                    Total by Groups: &nbsp;
                    {% for item in info_contacts_group_grouping_line_2_header %}
                        {{ item.group_name }}:{{ item.count }} &nbsp;&nbsp;
                    {% endfor %}
                </p>

                <p class="fw-bold">
                    Total by Types: &nbsp;
                    {% for item in info_contacts_type_grouping_line_3_header %}
                        {{ item.group_name }}:{{ item.count }} &nbsp;&nbsp;
                    {% endfor %}
                </p>

                <p class="fw-bold">
                    Age (years): &nbsp;
                    Max: {{ info_max_min_age_contact_line_4_header.age_max }}
                    &nbsp;&nbsp;
                    Min: {{ info_max_min_age_contact_line_4_header.age_min }}
                    &nbsp;&nbsp;
                    Avg: {{ info_max_min_age_contact_line_4_header.age_avg }}
                </p>

                <p class="fw-bold">
                    Most frequency name (top 3): &nbsp;
                    {% for item in info_most_frequent_contacts_name_line_5_header %}
                        {{ item.group_name }}:{{ item.count }} &nbsp;&nbsp;
                    {% endfor %}
                </p>

            </h6>

        </div>
    </div>
</div>