{% extends "_helpers/_base.html" %}

{% block content %}
    <h1>Contacts generating</h1>

    <form method="POST" style="margin-bottom: 1em;">
        {% csrf_token %}

        {{ form.as_p }}

        <div>
            <button class="btn btn-outline-danger" type="submit">Generate</button>
            <a href="{% url 'contacts:contacts_list' %}">
                <button class="btn btn-outline-primary" type="button">
                    Return
                </button>
            </a>
        </div>
    </form>

    {%  include "contacts/_header_statistics.html" %}

    {% include "contacts/_contacts_list_base.html" with object_list=contacts_list %}

{% endblock %}
